
		<!-- Blog Post Content Column -->
		<section class="col-md-8">

			<!-- Begin Post -->
			<article>
				<header>
					<h1 class="page-header">AngularJS - Controllers</h1>

					<p>
						<small class="glyphicon glyphicon-user"></small>
						by <a href="#">Ilan Cohen</a>
					</p>
					<p>
						<small class="glyphicon glyphicon-time"></small>
						Posted on 14 Jan, 2015
					</p>
					<p>
						<b>Tags:&nbsp;</b>
							<span>
								<a href="#" class="label label-default">JavaScript</a>
							</span>
							<span>
								<a href="#" class="label label-default">AngularJS</a>
							</span>
					</p>
				</header>
				<hr>

				<!-- Post Content -->
				<ng-include src="postView.postUrl"></ng-include>
				<!-- End of Post Content -->

			</article>
			<hr>
			<!-- End of Post -->

			<!-- Blog Comments -->

			<!-- Comments Form -->
			<div class="well">
				<h4>Leave a Comment:</h4>
				<form role="form">
					<div class="form-group">
						<textarea class="form-control" rows="3"></textarea>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>

			<hr>

			<!-- Posted Comments -->

			<!-- Comment -->
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="http://placehold.it/64x64" alt="">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Some User
						<small>14 Jan, 2015</small>
					</h4>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				</div>
			</div>
			<hr>

			<!-- Comment -->
			<div class="media">
				<a class="pull-left" href="#">
					<img class="media-object" src="http://placehold.it/64x64" alt="">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Some User
						<small>14 Jan, 2015</small>
					</h4>
					<p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
				</div>
			</div>

		</section>

		<!-- Blog Sidebar Widgets Column -->
		<aside class="col-md-4">

			<!-- Blog Search Well -->
			<div class="well">
				<h4>Search</h4>

				<form>
					<div class="input-group">
						<input type="search" name="search" class="form-control">
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
					</div>
					<!-- /.input-group -->
				</form>
			</div>

			<!-- Blog Categories Well -->
			<div class="well">
				<h3>Filter Posts</h3>

				<div class="list-group">
					<a href="#" class="list-group-item active">
						<span class="badge">8</span>
						Show All Posts
					</a>
				</div>

				<h4><small class="glyphicon glyphicon-tag"></small> Category</h4>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<span class="badge">4</span>
						AngularJS
					</a>
					<a href="#" class="list-group-item">
						<span class="badge">2</span>
						Grunt
					</a>
					<a href="#" class="list-group-item">
						<span class="badge">6</span>
						JavaScript
					</a>
					<a href="#" class="list-group-item">
						<span class="badge">2</span>
						jQuery
					</a>
					<a href="#" class="list-group-item">
						<span class="badge">2</span>
						Tools
					</a>
				</div>

				<h4><small class="glyphicon glyphicon-user"></small> Author</h4>
				<div class="list-group">
					<a href="#" class="list-group-item">
						<span class="badge">2</span>
						Alex Ilyaev
					</a>
					<a href="#" class="list-group-item">
						<span class="badge">2</span>
						Amit Choukroun
					</a>
					<a href="#" class="list-group-item">
						<span class="badge">4</span>
						Ilan Cohen
					</a>
				</div>

				<h4><small class="glyphicon glyphicon-time"></small> Month</h4>
				<div class="list-group">
					<div>
							<span class="list-group-item disabled">
								2015
							</span>
						<a href="#" class="list-group-item">
							<span class="badge">4</span>
							January
						</a>
					</div>
					<div>
							<span class="list-group-item disabled">
								2014
							</span>
						<a href="#" class="list-group-item">
							<span class="badge">4</span>
							December
						</a>
					</div>
				</div>
			</div>
		</aside>
